.box{
    width: 600px;
    height: 400px;
    background: #00008B;
    margin: 100px auto;
    .box1{
        width: 200px;
        height: 400px;
        background: #005AA0;
        float: left;
    }
    .box2{
        width: 400px;
        height: 400px;
        background: #1B1A1A;
        float: right;
    }
}
